<div>
  <form #form="ngForm" (ngSubmit)="updateVideo(form.value)">
    <div class="form-group">
      <label>Title:</label>
      <input name="title" class="form-control" [ngModel]="video.title">
      <br />
      <label>Description:</label>
      <input name="description" class="form-control" [ngModel]="video.description">
      <br />
      <label>Average Rating: {{ video.averageRating }}</label>
      <br />
      <br />
      <h3>Add Review</h3>
      <label>Rating:</label>
      <select name="rating" class="form-control" [(ngModel)]="rating" id="dropdown" >
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
      <br/>
      <label>Review:
        <textarea placeholder="Review Placeholder" name="review" class="form-control" [(ngModel)]="review" id="textarea"></textarea>
      </label>
      <br/>
    </div>
    <button type="button" (click)="cancel()">cancel</button>
    <button type="submit">update video</button>
    <button type="button" (click)="deleteVideo()">delete video</button>
    <button type="button" (click)="addReview()">add review</button>
  </form>
</div>
