<div>
  <form #form="ngForm" (ngSubmit)="updateVideo(form.value)">
    <div class="form-group">
      <label for="titleField">Title:</label>
      <input #title name="titleField" class="form-control" [ngModel]="video.title">
      <br />
      <label for="descField">Description:</label>
      <input name="descField" class="form-control" [ngModel]="video.description">
      <br />
      <label>Average Rating: {{ video.averageRating }}</label>
      <br />
      <label>Reviews:</label>
      <br />
      <ul *ngFor="let review of video.reviews">
        <li>
          Rating: {{review.rating}}
        </li>
        <li>
          Review: {{review.review}}
        </li>
      </ul>
      <br />
    </div>
    <button type="submit">save</button>
    <button type="button" (click)="cancel()">cancel</button>
    <button type="button" (click)="deleteVideo()">delete this video</button>
  </form>
</div>
